<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acervo - Saberes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!--NavBar-->

    <nav>
        <div class="container">
            <div class="navbar-content">
                <a href="/user" class="logo">SABERES</a>
                <button class="hamburguer" aria-label="Abrir menu">
                    ☰ 
                </button>
                <!-- Menu -->
                <div class="menu">
                    <a href="/user">Menu</a>
                    <a href="#">Acervo</a>
                    <a href="/user/favorites">Favoritos</a>
                    <a href="/user/profile">Perfil</a>
                    <a href="/auth/login">Sair</a>
                </div>
            </div>
        </div>
    </nav>

    <main>
        
        <!--Top Page-->

        <div class="container-body">
            <div class="top">
                <h1>Nosso Acervo</h1>
            </div>
        </div> 

        <!--Livros-->
        
        <div class="container-livros">
            <div class="container">

                <!--Pesquisa Livros-->
            <div class="search-container">
                <div class="search-bar">
                    <form class="search-form" action="/user/all-books" method="GET">
                        <input class="search-input" type="text" name="search" placeholder="Buscar por título, autor ou gênero">
                    </form>
                </div>
            </div>

        <!--Todos os Livros-->
        

        <!--Card Livros-->

        <div class="container-livros">
            <div class="livros-grid">
                <% books.forEach(book => { %>
                    <div class="livro-card">
                        <a href="/user/book/<%= book.id %>">
                        <div class="livro-imagem-container">
                            <img class="livro-imagem" src="<%= book.cover_image %>" alt="Capa">
                        </div>
                        <div class="livro-info">
                            <h3 class="livro-titulo"><%= book.title %></h3>
                            <p class="livro-autor"><%= book.author %></p>
                        </div>
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>







        </div>
    </div>



    </main>

    <footer class="footer">
        <p class="footer-nome"></p>
        <p></p>
    </footer>
    
    <script src="/javascript/script.js"></script>
</body>
</html>