<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como Publicar</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="como-publicar-container">
        <h2>Compartilhe <span>Sua História</span></h2>
        <p>É um autor iniciante? No Saberes, você tem um espaço <span>gratuito e aberto</span> para publicar suas obras e compartilhar sua escrita com o mundo.</p>
        <p>Você pode nos mandar o seu Livro por meio do nosso email: <span>acervodelivrosdigitalsaberes@gmail.com</span>. Envie-nos o arquivo em PDF, a imagem da capa, uma descrição, o nome do autor e o genero do livro!</p>
        <p>O seu livro passará por uma revisão e caso seja aprovado, será publicado na biblioteca!</p>

        <a href="/user/all-books" class="btn">Explore o Acervo</a>
    </div>
</body>
</html>